---
import { Image } from "astro:assets";
import presentationImage from "../images/portfolio_page.png";
import Chip from "./Chip.astro";
import Action from "./Action.astro";

interface Props {
  projects: {
    title: string;
    description: string;
    tags: string[];
    siteURL: string;
    repositoryURL: string;
  }[];
}

const { projects = [] } = Astro.props;
---

<section id="proyectos">
  <h1
    class="text-white mt-8 md:mt-0 text-center md:text-left font-montserrat font-black text-4xl mb-12"
  >
    Proyectos 🚀
  </h1>
  <div class="grid md:grid-cols-12 gap-4 lg:mx-22">
    {
      projects.map(({ title, description, tags, siteURL, repositoryURL }) => (
        <div class="col-span-12 pt-4 px-4 grid md:grid-cols-2  mb-14 rounded">
          <Image
            class="rounded md:ml-5 mb-4 md:mb-0 shadow-[0px_0px_4px_1px_#f7fafc]"
            src={presentationImage}
            height="200"
            alt="Proyecto portafolio con Astro"
          />
          <div>
            <p class="font-montserrat font-black mb-2 z-10 text-principal text-center">
              {title}
            </p>
            {!!tags && (
              <div class="flex justify-center mb-2">
                {tags?.map((tag) => (
                  <Chip title={tag} />
                ))}
              </div>
            )}
            <p class="font-montserrat font-normal text-white z-10 text-sm text-center">
              {description}
            </p>
            <div class="mt-4">
              {siteURL && (
                <Action target="_blank" title="Ver proyecto" to={siteURL} />
              )}
              {repositoryURL && (
                <Action
                  title="Repositorio"
                  type="secondary"
                  target="_blank"
                  to={repositoryURL}
                />
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
